<div class="concept slide" id="concept" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center">THE CONCEPT</h4>
            <div class="line-blue text-center"></div>
            <div class="text-center" style="margin-top: 40px">
                <div class="col-sm-4"><div class="text-right"><div class="img-app"></div> </div></div>
                <div class="col-sm-8">
                    <p style="text-align: left" class="text-being">Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.
                        Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.</p>
                    <p style="text-align: left" class="text-being">Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community. </p>
                    <p style="text-align: left" class="text-being">Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.
                        Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.
                        Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.</p><br>
                    <div class="text-left">
                        <a href="/#" class="btn btn-info btn-noshadow btn-end-users btn-size-20"><span>Lean more</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>