<div class="contact" id="contact" ng-controller="NavCtrl">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center" >CONTACT US</h4>
            <div class="line-blue text-center"></div>
            <div class="text-center center-form" style="margin-top: 40px">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Content"></textarea>
                    <br>
                    <button type="submit" class="btn btn-info btn-noshadow">Send</button>
                </form>
            </div>
            <div class="text-center">
                <div class="nav navbar-nav navbar-right nav-desktop text-center" style="margin-top: 10px">
                    <!--li><a href="#" id="categories_open"><i class="fa fa-th-list"></i> Categories</a></li-->
                    <li class="{{menu.hasSub ? 'dropdown ' + open : 'menu'}}" ng-repeat="menu in listMenus" ng-init="open = ''" ng-mouseover="open = 'open'" ng-mouseleave="open = ''">
                        <a href="{{menu.link}}" class="{{menu.hasSub ? 'dropdown-toggle' : 'menu'}}" data-toggle="{{menu.hasSub ? 'dropdown' : ''}}">
                            <span> {{menu.name}}</span>
                            <b ng-if='menu.hasSub' class="caret"></b>
                            <div class="nav-border-bottom"></div>
                        </a>

                        <ul ng-if="menu.hasSub" class="dropdown-menu">
                            <li ng-repeat="sub in menu.subMenu">
                                <a href="{{sub.link}}">{{sub.name}}</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>