h1, h2, h3, h4, p{
    color: white;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.row{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-fixed-top {
    z-index: 999999999;
}

/********** Newer darker color theme styles **********/

.navbar-fixed-top{
    height:60px;
    min-height:60px;
}

.nav>li>a, .navbar .navbar-nav>.active>a{
    height:60px;
    padding-top:20px;
}

.navbar-nav>li>a.upload-btn, .navbar-inverse .navbar-nav>li>a:hover{
    height:40px;
}

.nav>li>a.user-menu{
    padding:0px 10px;
    border-bottom:1px solid #272B36;
    background:#111;
}

.single ul.socialcount{
    margin-top:0px;
}

.nav>li>a.user-menu{
    min-height:40px;
}

.navbar-nav>li>a{
    border-right:0px;
}

.navbar-nav>li:first-child>a{
    border-left:0px;
}

.random i{
    font-size: 18px;
    color: #000;
    line-height: 22px;
}

.navbar>.container .navbar-brand.logo{
    padding-top:2px;
}

.navbar.gallery-sub-header, h2.subheader{
    top:40px;
}

@media (min-width: 991px) {
    .random_bar .navbar.gallery-sub-header, h2.subheader{
        top:0px;
    }
}

.navbar-right>li:first-child>a:first-child{
    border-left:0px;
}

.navbar-fixed-top{
    background:#0c2a44;
    border-bottom:0px solid #272B36;
}

.main_home_container{
    padding-top:42px;
}

.user-menu img{
    width:35px;
    height:35px;
    position:relative;
    top:2px;
}

@media (max-width: 768px){
    .mobile-menu-toggle i {
        padding:7px;
    }

    .search_settings{
        display:none;
    }

    .navbar.gallery-sub-header .pull-right{
        width:100%;
    }
}

.comment_container p{
    overflow:hidden;
}

.navbar>.container .navbar-brand.logo{
    width:auto;
    height:60px;
    display:block;
    padding-top:5px;
    margin-right:15px;
}

.navbar-brand >img{
    height: 50px;
}

.nav .caret, .nav>li>a, .navbar .navbar-nav>.active>a, .nav a:hover .caret{
    color:#EE222E;
}

.navbar-nav>li>a {
    margin-top:0px;
}

.navbar-nav>li>a:hover {
    background: #0069a4;
}

.btn.btn-color, input[type="submit"] {
    background: #db3b3b !important;
    color: #fff;
    border-radius: 0px;
}

h2 i {
    color: #db3b3b;
}

.btn-color:hover {
    color: #fff;
}

.btn.btn-radio {
    background: #ef4f4f;
    color: #fff;
}

.btn.btn-radio.active {
    background: #db3b3b;
    color: #fff;
}

#nprogress .bar {
    background: #db3b3b;
}

#nprogress .spinner-icon {
    border-top-color: #db3b3b;
    border-left-color: #db3b3b;
}

#nprogress .peg {
    box-shadow: 0 0 10px #db3b3b, 0 0 5px #db3b3b;
}

.nav .caret, .nav > li > a, .navbar .navbar-nav > .active > a, .nav a:hover .caret {
    color: #ffffff;
}

.navbar-nav > li:hover{
    background: #0c2a44 !important;
}

.navbar-nav > li > a.upload-btn, .navbar-inverse .navbar-nav > li > a:hover {
    background: #db3b3b;
}

.active .nav-border-bottom {
    background: #db3b3b;
}

.form-control:focus {
    border-color: #db3b3b;
}

a.spcl-button.color {
    background-color: #db3b3b;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #db3b3b;
}

ul.tags li a {
    background: #db3b3b;
}

div.tagsinput span.tag {
    border: 1px solid #db3b3b;
    color: #fff;
    background: #ef4f4f;
}

.table-striped > tbody > tr:first-child > th {
    background: #db3b3b;
    border: 0px;
    color: #fff;
}

.table-striped > tbody > tr:first-child {
    border: 0px;
}

.table-striped > tbody > tr:nth-child(2) > td {
    border-top-color: #ff6d6d;
}

.pagination > li > a {
    background: #a90909;
}

.pagination > li > span, .pagination > .active > span, .pagination > li > a:hover, .pagination > .active > span:hover {
    background: #ff6d6d;
}

.pagination > li > span:hover, .pagination > .disabled > span {
    background: #ff9f9f;
    color: #a90909;
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border: 1px solid #db3b3b;
}

div.tagsinput span.tag a {
    color: #a90909;
}

a.spcl-button.color:hover {
    background-color: #ef4f4f;
    color: #fff;
}

.btn.btn-prev:hover, .btn.btn-next:hover {
    background: #db3b3b;
}

/********** SECONDARY COLOR **********/
.home-media-like.active {
    background: #0098cb;
}

p.home-like-count {
    color: #0098cb;
}

a, a:hover, a:focus {
    color: #0098cb;
}

.user-menu p {
    color: #0098cb;
}

#next_media li a div.active, #next_media li a:hover div {
    border-color: #0098cb;
}

.admin-block.active, .admin-block:hover {
    border-color: #db3b3b;
}

h2.subheader {
    border-color: #a90909;
    background: #db3b3b;
}

.ouro:after {
    background-color: #db3b3b;
}

.ouro {
    background-color: #ff6d6d;
}

h2.subheader i {
    color: #a90909;
}

.load-more-btn {
    border-bottom-color: #a90909;
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-sub-header{
    top:0px;
}
.sticky-post-item li {
    margin-bottom: 20px;
}

.sticky-post-item .img-container {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 105px;
    margin-bottom: 3px;
    background-color: #f4f4f4;
}

.sticky-post-item .info-container a {
    display: block;
    color: #000;
}

.sticky-post-item .info-container h3 {
    font-size: 14px;
    line-height: 1.1em;
    word-wrap: break-word;
}

.list-inline > li {
    padding-left: 15px;
    padding-right: 15px;
}

.text-muted {
    color: #90939a;
}

.panel {
    border-color: #cfd9D7;
    border-radius: 2px;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
    font-size: 85%;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    background-color: #f6f6f6;
    border-color: #cfd9db;
}

.form-control {
    border-radius: 0;
}

.center-form {
    width: 330px;
    margin: auto;
}

.signup-or-separator {
    position: relative;
    height: 34px;
    text-align: center;
    background: none;
}

.signup-or-separator hr {
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.password-strength-indicator {
    position: absolute;
    top: 10px;
    right: 0;
    width: 5px;
    padding: 0 15px;
}

.password-strength-indicator span {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    background: #ebeef1;
    border-radius: 5px;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.alert-material {
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    display: inline-block;
    min-height: 48px;
    padding: 13px 24px 12px;
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
    cursor: default;
    background: #323232;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.profile-picture {
    height: 100px;
    display: block;
}

.btn {
    font-weight: normal;
    border-radius: 2px;
    font-size: 17px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-primary {
    background-color: #4285f4;
}

.btn-primary:hover {
    background-color: #3367d6;
}

.btn-success {
    background-color: #0f9d58;
}

.btn-success:hover {
    background-color: #196c4a;
}

.btn-danger {
    background-color: #db4437;
}

.btn-danger:hover {
    background-color: #b04c3b;
}

.btn-group-vertical .btn {
    margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-radius: 2px;
}

.btn-lg {
    font-size: 14px;
}

.btn [class^='ion-'] {
    margin-right: 5px;
}

.btn .fa {
    margin-right: 5px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
    color: #fff;
    background-color: #cb3927;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    color: #fff;
    background-color: #0069a4;
}

.btn-twitter {
    color: #fff;
    background-color: #00aced;
    border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
    color: #fff;
    background-color: #0090c7;
}

.btn-foursquare {
    color: #fff;
    background-color: #f94877;
    border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
    color: #fff;
    background-color: #f71752;
}

.btn-github {
    color: #fff;
    background-color: #444;
    border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
    color: #fff;
    background-color: #303030;
}

.btn-yahoo {
    color: #fff;
    background-color: #720e9e;
    border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
    color: #fff;
    background-color: #303030;
}

.btn-live {
    color: #fff;
    background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
    color: #fff;
    background-color: #125acd;
}

.navbar-nav>li>a.btn-login{
    height:30px;
    margin-top: 15px;
    padding-top: 5px;
    margin-left: 15px;
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
    -webkit-animation-duration: 0.6s, 0.2s;
    -moz-animation-duration: 0.2s, 0.2s;
    -ms-animation-duration: 0.2s, 0.2s;
    animation-duration: 0.2, 0.2s;
    -webkit-animation-name: fadeIn, zoomIn;
    -moz-animation-name: fadeIn, zoomIn;
    -ms-animation-name: fadeIn, zoomIn;
    animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
    -webkit-animation-duration: 0.2s, 0.2s;
    -moz-animation-duration: 0.2s, 0.2s;
    -ms-animation-duration: 0.2s, 0.2s;
    animation-duration: 0.2s, 0.2s;
    -webkit-animation-name: fadeIn, zoomIn;
    -moz-animation-name: fadeIn, zoomIn;
    -ms-animation-name: fadeIn, zoomIn;
    animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
    -webkit-animation: fadeOutDown 0.2s;
    -moz-animation: fadeOutDown 0.2s;
    -ms-animation: fadeOutDown 0.2s;
    animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        -moz-transform: scale3d(0.8, 0.8, 0.8);
        -ms-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        -moz-transform: scale3d(0.8, 0.8, 0.8);
        -ms-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}
.btn-noshadow{
    box-shadow: none;
    border-radius: 0px;
}
.btn-border-blue{
    border: 1px #04baa1;
    border-style: solid;
}
.btn-border-blue:hover{
    color: #04baa1;
}
.btn-size-20{
    font-size: 20px;
}
.btn-end-users{
    margin-right: 20px;
}
.slide{
    margin-top: 60px;
    height: auto;
    background: #282f39 url(/img/pricingbox-bg-dark.jpg) no-repeat bottom center;
}
.contact{
    background: #0c2a44;
}
.slide > .row > .col-sm-12{
    margin-top: 30px;
}
.img-app{
    width: 200px;
    height: 300px;
    background: transparent url(/img/loyalapp.png) top center;
    background-size: 200px;
    margin: auto;
}
.btn-getstart{
    margin-top: 20px;
    margin-bottom: 30px;
}
.text-being{
    color: #a9b1b4;
}
.line-blue{
    background: #24a4e1;
    width: 8%;
    height: 2px;
    display: inline-block;
    left: 46%;
    right: 46%;
}

.text-blue{
    color: #24a4e1;
}

.text-right > .img-app{
    margin-right: 20px;
}

.fa-small{
    margin-right: 5px;
    font-size: 7px;
    text-align: center;
    position: relative;
    top: -2px;

}

.navbar-center>li{
    position: relative;
    display: block;
    float: left;
}
@media (max-width: 768px) {
    .navbar-right>li:nth-last-child(2){
        display: none;
    }.navbar-right>li:nth-last-child(3){
         display: none;
     }
    .text-right > .img-app{
        margin: auto;
    }
}
@media (max-width: 1000px) {
    .navbar-right>li:nth-last-child(2){
         display: none;
     }
}