<div class="about" id="about" ng-controller="AboutUsCtrl">
    <div class="row" style="padding-bottom: 40px">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center text-blue" >ABOUT US</h4>
            <div class="line-blue text-center"></div>
            <div class="text-center" style="margin-top: 40px">
                <div class="col-sm-3" ng-repeat="data in datas">
                    <p class="" style="font-size: 30px; color: #0069a4">{{data.name}}</p><br>
                    <p style="color: #959595; text-align: left">{{data.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>