<div class="features" id="features" data-unique="features" ng-controller="FeaturesCtrl">
    <div class="row" style="padding-bottom: 40px">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center text-blue" >FEATURES</h4>
            <div class="line-blue text-center"></div>
            <div class="text-center" style="margin-top: 40px">
                <a href="/#" class="btn btn-info btn-noshadow btn-end-users btn-size-20"><span>End-users</span></a>
                <a href="/#" class="btn btn-noshadow btn-border-blue btn-restaurants btn-size-20">Restaurants</a>
            </div>
            <div class="text-center" style="margin-top: 40px">
                <div class="col-sm-3" ng-repeat="data in datas">
                    <p class="fa {{data.icon}}" style="font-size: 50px; color: #0069a4"></p><br>
                    <p class="" style="font-size: 30px; color: #0069a4">{{data.name}}</p><br>
                    <p style="color: #959595; text-align: left">{{data.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>