<div data-ng-include="'/elements/slide.html'"></div>
<div data-ng-include="'/elements/features.html'"></div>
<div data-ng-include="'/elements/concept.html'"></div>
<div data-ng-include="'/elements/how_to_work.html'"></div>
<div data-ng-include="'/elements/request_info.html'"></div>
<div data-ng-include="'/elements/about_us.html'"></div>
<div data-ng-include="'/elements/contact_us.html'"></div>