<div class="how_to_work" id="howtowork" ng-controller="HowToCtrl">
    <div class="row" style="padding-bottom: 40px">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center text-blue" >HOW TO WORKS</h4>
            <div class="line-blue text-center"></div>
            <div style="margin-top: 40px">
                <div class="col-md-15 col-sm-3" ng-repeat="data in datas">
                    <p class="" style="font-size: 20px; color: #0069a4; text-align: left">{{data.name}}</p>
                    <p style="color: #959595; text-align: left" ng-repeat="item in data.sub"><i class="fa fa-asterisk fa-small"></i>  {{item}}</p>
                </div>
            </div>
        </div>
    </div>
</div>