<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/"><img
                    src="/img/icon.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="isAuthenticated()"><a href="/#/upload" class="upload-btn upload-btn-desktop"><i
                        class="fa fa-cloud-upload"></i> Upload</a></li>
                <li ng-if="isAuthenticated()" class="{{'dropdown ' + open}}" ng-init="open = ''" ng-mouseover="open = 'open'" ng-mouseleave="open = ''">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span> {{userData().c_name}}</span>
                        <b class="caret"></b>
                        <div class="nav-border-bottom"></div>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/#/logout">Logout</a>
                        </li>
                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right nav-desktop">
                <!--li><a href="#" id="categories_open"><i class="fa fa-th-list"></i> Categories</a></li-->
                <li class="{{menu.hasSub ? 'dropdown ' + open : 'menu'}}" ng-click="gotoAnchor(menu.id)" ng-repeat="menu in listMenus" ng-init="open = ''" ng-mouseover="open = 'open'" ng-mouseleave="open = ''">
                    <a href="{{menu.link}}" class="{{menu.hasSub ? 'dropdown-toggle' : 'menu'}}" data-toggle="{{menu.hasSub ? 'dropdown' : ''}}">
                        <span> {{menu.name}}</span>
                        <b ng-if='menu.hasSub' class="caret"></b>
                        <div class="nav-border-bottom"></div>
                    </a>

                    <ul ng-if="menu.hasSub" class="dropdown-menu">
                        <li ng-repeat="sub in menu.subMenu">
                            <a href="{{sub.link}}">{{sub.name}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="!isAuthenticated()" class=""><a href="/#/login" class="btn btn-info btn-login" id="login-button-desktop">Login</a>

                    <div class="nav-border-bottom"></div>
                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
