<div class="request slide" id="request">
    <div class="row" style="padding-bottom: 40px">
        <div class="col-sm-12 text-center" style="margin-top: 40px;">
            <h4 class="text-center" >REQUEST INFO</h4>
            <div class="line-blue text-center" style="background: white"></div>
            <div class="text-center center-form" style="margin-top: 40px">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input type="address" class="form-control" id="address" placeholder="Address">
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Content"></textarea>
                    <br>
                    <button type="submit" class="btn btn-info btn-noshadow">Send my request</button>
                </form>
            </div>
        </div>
    </div>
</div>