<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Sign up</h2>
                <form method="post" ng-submit="signup(picFile)" name="signupForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-compare-to">

                    <div type="file" ngf-select ng-model="picFile" name="file" ng-file-select="onFileSelect(picFile)"
                         accept="image/*" ngf-max-size="2MB">
                        <i ng-show="signupForm.file.$error.maxSize">File too large
                            {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
                        <img class="img-circle user-avatar-large" ngf-src="!picFile.$error && picFile ? picFile : 'http://api.zuilen.tk/files/user/avatar/noavatar.png'">
                        <button ng-click="picFile = null; imageSrc = null" ng-show="picFile">x</button>
                        <br>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.name.$invalid &amp;&amp; signupForm.name.$dirty }">
                        <input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="text" name="name" ng-model="user.c_name" placeholder="Name" required="true" autofocus="">
                        <span class="ion-person form-control-feedback"></span>
                        <!-- ngIf: signupForm.displayName.$dirty -->
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid &amp;&amp; signupForm.email.$dirty }">
                        <input class="form-control input-lg ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" type="email" id="email" name="email" ng-model="user.c_email" placeholder="Email" required="true">
                        <span class="ion-at form-control-feedback"></span>
                        <!-- ngIf: signupForm.email.$dirty -->
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }">
                        <input class="form-control input-lg ng-pristine ng-untouched ng-invalid" type="phone" id="tel" name="tel" ng-model="user.c_tel" placeholder="Telephone">
                        <span class="ion-tel form-control-feedback"></span>
                        <!-- ngIf: signupForm.email.$dirty -->
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid &amp;&amp; signupForm.password.$dirty }">
                        <input password-strength="" class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" name="password" ng-model="user.c_password" placeholder="Password" required=""><span class="password-strength-indicator"><span></span><span></span><span></span><span></span></span>
                        <span class="ion-key form-control-feedback"></span>
                        <!-- ngIf: signupForm.password.$dirty -->
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid &amp;&amp; signupForm.confirmPassword.$dirty }">
                        <input password-match="user.c_password" class="form-control input-lg ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-compare-to" type="password" name="confirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password">
                        <span class="ion-key form-control-feedback"></span>
                        <!-- ngIf: signupForm.confirmPassword.$dirty -->
                    </div>

                    <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms &amp; conditions</a> and <a href="#">privacy policy</a></small></p>
                    <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary" disabled="disabled">Sign up</button>
                    <br>
                    <p class="text-center text-muted">Already have an account? <a href="/#/login">Log in now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>