<div class="slide">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="text-center">Stay checked!</h1>
            <p class="text-center text-being">Being loyal means being VIP</p>
            <div class="text-center">
                <a href="/#" class="btn btn-info btn-noshadow btn-getstart" id="login-button-desktop">GET STARTED</a>
            </div>
            <div class="text-center"><div class="img-app text-right"></div> </div>
        </div>
    </div>
</div>